<link rel="import" href="/humblekit-experiment/bower_components/polymer/polymer.html">

<link rel="import" href="{{ site.baseurl }}/elements/proto-element.html">
<link rel="import" href="{{ site.baseurl }}/elements/dom-element.html">
<link rel="import" href="{{ site.baseurl }}/elements/picture-frame.html">
<link rel="import" href="{{ site.baseurl }}/elements/name-tag.html">
<link rel="import" href="{{ site.baseurl }}/elements/configurable-name-tag.html">
<link rel="import" href="{{ site.baseurl }}/elements/editable-name-tag.html">

<link rel="import" href="{{ site.baseurl }}/elements/hk-button.html">
