<header class="site-header container">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="btn-group">
      {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url contains link.url %}
          {% assign current = 'current' %}
        {% endif %}
        <a href="{{ site.baseurl }}/site{{ link.url }}"
           class="btn btn-sm btn-secondary btn-outline {% if forloop.first %}round-l{% endif %} {{ current }} {% if forloop.last %}round-r{% endif %}">
          {{ link.title }}
        </a>
      {% endfor %}
    </nav>

  </div>

</header>
