.tablesorter {

  .header {
    cursor: pointer;
    position: relative;

    &.headerSortUp,
    &.headerSortDown {
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 1.25rem;
        left: 0.5rem;
      }
    }

    &.headerSortUp {
      &:after {
        border-right:  3px solid transparent;
        border-left:   3px solid transparent;
        border-bottom: 3px solid $text-base-color;
      }
    }
    &.headerSortDown {
      &:after {
        border-right: 3px solid transparent;
        border-left:  3px solid transparent;
        border-top:   3px solid $text-base-color;
      }
    }
  }
}